/* DÉBUT: conteneur d'affichage des cartes logements */
.logements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 25px;
    padding: 50px;
    margin: 2rem;
}

.logements a {
     text-decoration: none;
}
/* FIN: conteneur d'affichage des cartes logements */



/* DÉBUT: carte logement */
.fiche-logement {
    border-radius: 10px;
    transition: 0.3s;
    height: 278px;
}

.fiche-logement img {
    width: 100%;
    border-radius: 10px;
    height: 280px;
    object-fit: cover;
}

.fiche-logement h3 {
    display: flex;
    height: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 162.6%;
    margin: 0px 20px;
    align-items: flex-end;
    color: white;
}

.fiche-logement:hover {
    box-shadow: 0px 0px 10px #473030;
    cursor: pointer;
}
/* FIN: carte logement */


/* Responsive */
@media (max-width: 926px) {
    .logements { 
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    }
}

 @media (max-width: 768px) {
    .logements {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
        background: #FFF;
        grid-row-gap: 40px;
    }
    .fiche-logement {
        min-width: 200px;
        height: 255px;
    }
    .fiche-logement img { 
        height: 256px; 
    }
}

@media (max-width: 400px) {
    .fiche-logement { 
        width: 100%; 
    }
    .logements {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin-top: 20px;
        padding: 0;
    }
} 